body{
    margin: 0 auto;
}
header {
    box-shadow: 1px 1px 1px 1px #cccccc;
    padding:0 !important;
}

.active a{
    color: #FFF !important;
    background-color: #000FFF !important;
}

.navbar-nav li a{
    height:50px !important;
    font-size: 14px !important;
}


