/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2022, 12:38:06 PM
    Author     : Thanh Tung
*/
@media screen and (min-width: 676px) {
    .modal-dialog {
        max-width: 1200px; /* New width for default modal */
    }
}
